.gridContainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "header"
        "main"
        "footer"
}

.item1 {
    grid-area: header;
    background-color: #1E293B;
    display: grid;
    grid-template-columns: 100px 500px 100px;
    grid-template-areas: "icon head info";
    justify-content: center;
    align-content: center;
    height: 100%;
    text-align: center;
}


.H1header {
    grid-area: head;

        color: white;
        

    align-content: center;
 
}

button {
    background-color: #1F46E8;
    cursor: pointer;
}

.info {
    grid-area: info;
    padding: 15px;
    background-color: #F8FAFC;
}

.item2 {
    grid-area: main;
    background-color: #FFFFFF;
}

.item3 {
    grid-area: footer;
    background-color: #0F172A;
    color: white;
    display: flex;

    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 20px;
}

.twoElementsContainer {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(300px, 3);
    grid-template-areas:
        "box1 box2 box3";
    gap: 100px;
    justify-content: center;
    align-items: center;

    margin: auto;
}

.elementOne {
    grid-area: box1;
    background-color: #F1F5F9;
    padding: 5px;
    text-align: center;
    transition: 0.8s ease-in-out;
    border-radius: 10px;
    height: 300px;
    width: 300px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;

    box-shadow: 0 2px 2px 3px grey;

}


.elementOne:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-5px) scale(1.02);
    background-color: #E2E8F0;

        box-shadow: 0 2px 2px 5px grey;



}

.elementOne span {
    color: #4F46E5;

    font-size: 4rem;

    transition: 0.5s ease-in-out;
}

.elementOne:hover span {
    color: #3730A3;

    transition: 0.2s ease-in-out;
    
}

.elementTwo span {
    color: #4F46E5;

    font-size: 4rem;

    transition: 0.2s ease-in-out;
}

.elementTwo:hover span {
    color: #3730A3;

    transition: 0.2s ease-in-out;
}


.elementTwo {
    grid-area: box2;
    background-color: #F1F5F9;
    padding: 5px;
    text-align: center;
    transition: 0.8s ease-in-out;
    border-radius: 10px;
    height: fit-content;
    height: 300px;
    width: 300px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
    box-shadow: 0 2px 2px 3px grey;

}


.elementTwo:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-5px) scale(1.02);
    background-color: #E2E8F0;
    box-shadow: 0 2px 2px 5px grey;
}

.elementThree {
    grid-area: box3;
    background-color: #F1F5F9;
    padding: 5px;
    text-align: center;
    transition: 0.8s ease-in-out;
    border-radius: 10px;
    height: fit-content;
    height: 300px;
    width: 300px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
    box-shadow: 0 2px 2px 3px grey;

}


.elementThree:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-5px) scale(1.02);
    background-color: #E2E8F0;
    box-shadow: 0 2px 2px 5px grey;
}

.elementThree span {
    color: #4F46E5;

    font-size: 4rem;

    transition: 0.2s ease-in-out;
}

.elementThree:hover span {
    color: #3730A3;

    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 600px) {
    .twoElementsContainer {
        display: flex;
        flex-direction: column;


        align-items: center;
        justify-content: center;


        height: 100vh;


    }
}