@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clean Slate for your Grid Layout */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Prevents double scrollbars */
}

body {
  background-color: #FDFDFD;
  color: #1e293b;
  /* slate-800 */
}